.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.paper-test {
  height: 100%;
  width: 100%;
  margin-top: 20%;
  text-align: center;
  display: inline-block;
}
.paper-result {
  width: 80%;
  margin: 5%;
  text-align: center;
  display: inline-block;
}

.results{
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
