/*$color1: #7abac3;
$color2: #416b79;
$color3: #222222;*/

/*** Variables Font Awesome**/
$fa-font-path: "~font-awesome/fonts";

/*** Variables Bootstrap **/
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

/*
$brand-primary: $color1;
$brand-info: $color2;

$btn-primary-border: $color1;
$btn-info-border: $color2;

$input-border: $color1;
$input-border-focus: darken($input-border, 5);

$navbar-border-radius: 0;
$navbar-default-bg: $color3;
$navbar-default-border: transparent;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: $color1;
$navbar-default-link-active-color: $color1;
$navbar-default-link-active-bg: transparent;

$breadcrumb-bg: $color1;
$breadcrumb-color: $color1;*/
